@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

.assigncreate-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: white;
    border-radius: 0px;
    margin-top: 70px;
  }
  
  .assigncreate-container {
    width: 700px;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'SF UI Display', sans-serif;
  }

  .assignheading{
    padding-bottom: 20px;
  }
  
  .input-field {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'SF UI Display', sans-serif;
    border: 1px solid #ebebeb;
    border-radius: 4px;
  }
  
  .assigncreate-button {
    display: block;
    width: 100%;
    padding: 16px;
    background-color: #036ffd;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-family: 'SF UI Display', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .signup-link a {
    color: #036ffd;
    text-decoration: none;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  .form-group {
    margin-bottom: 20px;
  }

  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }