@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

.problemArea {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;

}

.heading {
    font-family: 'SF UI Display', sans-serif;
    font-size: 24px;
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
    font-weight: bold;
}

.prblmdef{
    font-family: 'SF UI Display', sans-serif;
    font-size: 18px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
}

.descr {
    font-family: 'SF UI Display', sans-serif;
    font-size: 24px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.description {
    font-family: 'SF UI Display', sans-serif;
    font-size: 18px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
}

.editor{
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 150px;
}

.langselect{
    padding-bottom: 10px;
    padding-left: 590px;
}
