@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

.problemArea {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;

}

.heading {
    font-family: 'SF UI Display', sans-serif;
    font-size: 24px;
    display: flex;
    margin-left: 50px;
    margin-top: 100px;
    font-weight: bold;
}

.prblmdef{
    font-family: 'SF UI Display', sans-serif;
    font-size: 18px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
}

.descr {
    font-family: 'SF UI Display', sans-serif;
    font-size: 24px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: bold;
}

.description {
    font-family: 'SF UI Display', sans-serif;
    font-size: 18px;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: normal;
    line-height: 24px;
    font-size: 20px;
}

.editor{
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  padding-top: 85px;
  padding-right: 10px;
}

.langselect{
    padding-bottom: 10px;
    padding-left: 590px;
}

.input-box{
    flex: 50%;
  }
.input-box textarea{
    font-size: 16px;
  }

  .run-btn{
    position: absolute;
    bottom: 10px;
    right: 18px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    background-color: #639cd1;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
  }
  .run-btn:active{
    background-color: #2990EF;
  }


  .output-box{
    flex: 50%;
    background-color: #242424;
    overflow-y: auto;
    color: white;
    position: relative;
  }
  .clear-btn{
    position: absolute;
    bottom: 14px;
    right: 18px;
    width: 80px;
    height: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    background-color: #1f65e6;
    border: none;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
  }
  .output-box pre{
    font-size: 15px;
    white-space: pre-wrap;
  }
  h4{
    color: #afec3f;
  }