@import url('https://fonts.cdnfonts.com/css/sf-ui-display');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 100px;
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-15px);
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    font-family: 'SF UI Display', sans-serif;
    padding-bottom: 15px;
    margin-bottom: 10px;
  }
  
  .register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'SF UI Display', sans-serif;
  }
  
  .student-card {
    background-color: white;
    color: #2990ef;
  }
  
  .teacher-card {
    background-color: white;
    color: #2990ef;
  }
  